// Dynamic variables
:root {
  // Space step (padding, margin )
  --spacer: 10px;
  // ...
  --default-transition: 0.5s;
  // ...
  --color-background: #3b3939; // TODO :: Deprecated - will remove
  --color-text: #101010; // TODO :: Deprecated - will remove
  --color-text-muted: #9a9797; // TODO :: Deprecated - will remove
  // ...
  --color-secondary: #d1d1d1; // TODO :: Deprecated - will remove
  --color-contrast: #3e3939; // TODO :: Deprecated - will remove
  --color-default: gainsboro; // TODO :: Deprecated - will remove
  --color-primary: blue; // TODO :: Deprecated - will remove
  --color-info: lightblue; // TODO :: Deprecated - will remove
  --color-success: green; // TODO :: Deprecated - will remove
  --color-warning: orange; // TODO :: Deprecated - will remove
  --color-danger: #af160e; // TODO :: Deprecated - will remove
  --color-dark: #7b7b81; // TODO :: Deprecated - will remove
  --color-light: white; // TODO :: Deprecated - will remove

  //-------- UI -------- //

  --color-ui-background: #000028;
  --color-ui-background-opacity-80: rgba(0, 0, 40, 0.33);

  --color-ui-primary: #0051ff;
  --color-ui-primary-defalt: #ffffff;

  --color-ui-accent: #ff6b00;

  --color-ui-warning: #f75709;
  --color-sticker-ui-success: #03c11f;
  --color-sticker-ui-danger: #d93025;
  --color-stroke-ui-light: #1b63ff;
  --color-stroke-ui-dark: #011644;
  --color-stroke-ui: linear-gradient(
    137.67deg,
    #1b63ff 2.397%,
    #011644 99.041%
  );
  --color-ui-grey: #b8b8c3;


  // Text settings
  --color-ui-text: #d3d3d3;

  // Ui elements settings
  --ui-border--raduis: 8px;

  // Blocks
  // Inputs
  --ui-input--border-radius: var(--ui-border--raduis);
  --ui-input--height: 46px;
  // Buttons
}

// Static variables
// Space step (padding, margin )
$spacer: var(--spacer); // TODO :: Deprecated - will remove

// ...

$primary: var(--color-primary); // TODO :: Deprecated - will remove
$secondary: var(--color-secondary); // TODO :: Deprecated - will remove
$info: var(--color-info); // TODO :: Deprecated - will remove
$success: var(--color-success); // TODO :: Deprecated - will remove
$warning: var(--color-warning); // TODO :: Deprecated - will remove
$danger: var(--color-danger); // TODO :: Deprecated - will remove
$light: var(--color-light); // TODO :: Deprecated - will remove
$dark: var(--color-dark); // TODO :: Deprecated - will remove